#colorfultext {
	color: #000000;
	font-size: 5em;
	margin-top: 3em;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: capitalize;
}

h1 {
	font-family: Arial, sans-serif;
}

input {
	height: 40px;
	font-family: Courier, monospace;
	font-size: 20px;
	width: 200px;
}

a {
	cursor: pointer;
	display: block;
	font-family: Arial, sans-serif;
	height: 40px;
	font-size: 20px;
	margin: 20px 0;
	background-color: black;
	color: white;
	width: 200px;
	text-align: center;
	line-height: 40px;
}

a:hover {
	opacity: .5;
}